{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/build/css/app.css') }}">
{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <p id="root">Rendered with twig.</p>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/build/js/app.js') }}"></script>
{% endblock %}